.App {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.dashboard {
  width: 100%;
}

.row1, .row2{
  /* border: 1px solid white; */
  display: flex;
  justify-content: space-evenly;
  margin: 1rem auto;
  width: 80%;
}

.sections {
  border: 1px solid white;
  width: 25%;
}

.sections h1{
  font-size: 2rem;
  margin: .25rem 1rem 1rem;

}

.caloriesBar {
  display: flex;
  width: 100%;
}