.App {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.dashboard {
  width: 100%;
}

.row1, .row2{
  /* border: 1px solid white; */
  display: flex;
  justify-content: space-evenly;
  margin: 1rem auto;
  width: 80%;
}

.sections {
  border: 1px solid white;
  width: 25%;
}

.sections h1{
  font-size: 2rem;
  margin: .25rem 1rem 1rem;

}

.caloriesBar {
  display: flex;
  width: 100%;
  align-items: center;
}

.progress-wrapper {
  background: #F5F5F5;
  height: 2rem;
  border-radius: 15px;
  width: 95%;
  margin: 0 0.5rem;
}

.progress-filler {
  background: limegreen;
  height: 100%;
  transition: width 0.8s ease-in;
  border-radius: 15px 0 0 15px;
}

.macro-header {
  font-size: 1.25rem;
}